.tw-icon {
  width: 24px;
  height: 24px;
}

.tw-icon-sm {
  width: 16px;
  height: 16px;
}

.tw-icon-md {
  width: 24px;
  height: 24px;
}

.tw-icon-lg {
  width: 32px;
  height: 32px;
}

.tw-icon-xl {
  width: 40px;
  height: 40px;
}

.tw-icon-xxl {
  width: 48px;
  height: 48px;
}