<!DOCTYPE html>
<html>

<head>
  <title>TransferWise Icons</title>
  <meta name="viewport" content="initial-scale=1, width=device-width">
</head>

<body>
  <header>
    <h1>TransferWise Icons</h1>
  </header>

  <main>
    <% include partials/icons.ejs %>
  </main>
</body>

</html>