<!DOCTYPE html>
<html>

<head>
  <title>TransferWise Icons</title>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <link href="https://bootstrap.transferwise.com/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <header class="p-t-5 p-b-3">
      <h1>TransferWise Icons</h1>
    </header>

    <main>
      <% include partials/icons.ejs %>
    </main>
  </div>
</body>

</html>