.preview {
  position: relative;
  border: 1px solid #fafafa;
  background: white;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--brand-smoke-plus-10)
}

.icon {
  flex: 1 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circles {
  position: absolute;
  top: -4px;
  left: -4px;
}

.labels {
  flex: 1 0 30px;
  font-size: 10px;
  text-align: center;
  color: var(--text-color);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 8px;
}

.label-old-icon-name {
  color: var(--brand-red-alert);
}